@import 'bulma/css/bulma-rtl.min.css';

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
}

.f-weight-4{
    font-weight:400;
}

.f-weight-7{
    font-weight:700;
}

.principal-section{
    // padding-top:0rem!important;
    background-color: var(--purple-bg)!important;
}

.color{
    color:var(--button-bg)!important;
}

.light-purple{
    color:var(--light-purple)!important;
}

.btn-link{
    color:var(--button-bg)!important;
    &:hover{
        color:#934fc4!important;
    }
}

.navbar-end{
    margin:auto!important;
    justify-content:space-between!important;
}

.bg-light, .navbar-light{
    background-color:transparent!important;
}

a.navbar-item:hover {
    background-color:transparent!important;
}

.input{
    // border-radius:0px;
    border-color:var(--dark-bg)!important;
    background-color:var(--dark-bg)!important;
}

input::placeholder{
    color:#ffffff80!important;
}

.rose-button{
    background-color:var(--button-bg)!important;
    border-color:var(--button-bg)!important;
}   